<p>
<div class="project-item col-md-4 col-sm-6 col-xs-12" data-tags='{{ i.tags | jsonify | downcase }}'>
    <div class="well project-outer">
        <div class="project-inner">
            <a href="/static/about/ava.jpg" class="thickbox">
                <div class="project-img bordered" style="background-image:url('/static/about/ava.jpg');"></div>
            </a>
        </div>
    </div>
</div>&nbsp;&nbsp;&nbsp;&nbsp;Привет!
Меня зовут Ярослав! Я являюсь инженером-программистом по разработке встраиваемых систем. Свою трудовую
карьеру начинал в качестве системного администратора. По мере обучения и совершенствования своих навыков, дошел
до
разработчика программного обеспечения для микроконтроллеров. Со школы увлекался электроникой и
компьютерами, что и
определило направление моей профессиональной деятельности. </p>