<!-- Custom Fonts -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/roboto_font.css" type="text/css">

<!-- FontAwesome icons -->
<script src="https://kit.fontawesome.com/70cb09ddf0.js" crossorigin="anonymous"></script>

<!-- Core BootStrap CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap.min.css">
<!-- Material Design CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap-material-design.min.css">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/thickbox.css">
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/projects.css">

<script type="text/javascript">
    //loadingImage is relative to project dir
    var tb_pathToImage = "{{ site.baseurl }}/static/img/loadingAnimation.gif";
</script>