<link rel="stylesheet" href="{{ site.baseurl }}/static/css/lcd1602_style.css">

<div style="text-align: center;">
    <table style="margin: auto; " class="lcd unselectable">
        <tr id="first">
            <td class="lcd" id="1"></td>
            <td class="lcd" id="2"></td>
            <td class="lcd" id="3"></td>
            <td class="lcd" id="4"></td>
            <td class="lcd" id="5"></td>
            <td class="lcd" id="6"></td>
            <td class="lcd" id="7"></td>
            <td class="lcd" id="8"></td>
            <td class="lcd" id="9"></td>
            <td class="lcd" id="10"></td>
            <td class="lcd" id="11"></td>
            <td class="lcd" id="12"></td>
            <td class="lcd" id="13"></td>
            <td class="lcd" id="14"></td>
            <td class="lcd" id="15"></td>
            <td class="lcd" id="16"></td>
        </tr>
        <tr id="second">
            <td class="lcd" id="20"></td>
            <td class="lcd" id="21"></td>
            <td class="lcd" id="22"></td>
            <td class="lcd" id="23"></td>
            <td class="lcd" id="24"></td>
            <td class="lcd" id="25"></td>
            <td class="lcd" id="26"></td>
            <td class="lcd" id="27"></td>
            <td class="lcd" id="28"></td>
            <td class="lcd" id="29"></td>
            <td class="lcd" id="30"></td>
            <td class="lcd" id="31"></td>
            <td class="lcd" id="32"></td>
            <td class="lcd" id="33"></td>
            <td class="lcd" id="34"></td>
            <td class="lcd" id="35"></td>
        </tr>
    </table><br />
    <label for="str1">Строка 0: </label><input type="text" id="str1" /><br />
    <label for="str2">Строка 1: </label><input type="text" id="str2" />
</div><br />

<script src="{{ site.baseurl }}/static/js/lcd1602_script.js"></script>