table {
  border-collapse: collapse;
  border: 1px solid;
  background-color: aqua;
}
td {
  border: 1px solid;
  height: 30px;
  width: 30px;
  text-align: center;
}
th {
  border: 1px solid;
  height: 30px;
  width: 30px;
  text-align: center;
}
