@font-face {
    font-family: "LcdFont";
    src: url("/static/fonts/SUBWT.ttf") format("truetype");
    font-style: normal;
    font-weight:bolder;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  background-color: aqua;
}
td {
  border: 1px solid;
  height: 30px;
  width: 30px;
  text-align: center;
  font-family: "LcdFont";
}
th {
  border: 1px solid;
  height: 30px;
  width: 30px;
  text-align: center;
}
