@font-face {
    font-family: "LcdFont";
    src: url("/static/fonts/SUBWT.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    size: 20px;
}

table.lcd {
    border-collapse: separate;
    border: 10px solid;
    border-color: #87ad34;
    background-color: #7d9f32;
}

td.lcd {
    border: 1px solid;
    height: 45px;
    width: 30px;
    text-align: center;
    font-family: "LcdFont";
    border-color: #87ad34;
}

.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}